__pycache__/
*.py[cod]
*$py.class

.pytest_cache/
.coverage
coverage.xml
htmlcov/

.env
.env.*

venv/
.venv/
env/
ENV/

build/
dist/
*.egg-info/

pip-wheel-metadata/

.ipynb_checkpoints/

.DS_Store
Thumbs.db

.vscode/
.idea/
*.iml

*.log

reports/
